.Header{
  position: relative;
  top: 10px;
}
.Header .cartItem{
  position: absolute;
  right: 5%;
  padding: 20px;
}

.Header .cartItem span{
    position: absolute;
    left: 3px;
    font-size: 20px;
    bottom: 0;
    background: #000;
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    top: 0;
}

.Header .cartItem i{
  font-size: 20px;
}

.ActionButtons{
  text-align: center;
  top: 30px;
  position: relative;
}

.ActionButtons button{
  margin: 0 12px;
}